<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div *ngIf="videoData" class="modal-body">
                <div class="current-video">
                    <img src="{{videoData.thumbnail}}" class="video-thumbnail" alt="...">
                    <h4>{{videoData.title}}</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
