.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
  
.grid-item {
    padding: 20px;
    text-align: center;
}

.video-title {
    margin-top: 10px;
    font-size: 16px;
}

.video-thumbnail {
    margin-bottom: 10px;
} 

