<h4>Search for images and videos</h4>

<div class="input-group">
  <input type="text" [(ngModel)]="keyword" class="form-control" aria-label="Text input with segmented dropdown button">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="onYouTubeSearch()" type="button">Search Videos</button>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Search Images</button>
  </div>
</div>

<div *ngIf="data" class="grid-container">
    <div *ngFor="let item of data" data-id="{{item.id.videoId}}" data-toggle="modal" data-target="#exampleModal" (click)="openModal($event)" class="grid-item">
      <img src="{{item.snippet.thumbnails.medium.url}}" class="video-thumbnail" alt="...">
      <span class="video-title">{{item.snippet.title}}</span>
    </div> 
</div>

