<div class="container">
  <button class="btn btn-outline-dark btn-sm" (click)="onOpenNewTab()">New tab &#43;</button>

  <tabs>
    <tab [tabTitle]="'Search'">
      <search-results (modalEvent)="getData($event)">
      </search-results>
    </tab>
  </tabs>

  <ng-template #searchResults>
      <search-results (modalEvent)="getData($event)">
      </search-results>
  </ng-template>

  <modal-window [videoData]="currentVideo"></modal-window>
</div>
