<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <a class="nav-link" href="#">{{tab.title}}</a>
  </li>
  <!-- dynamic tabs -->
  <li class="nav-item" *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <a class="nav-link" href="#">{{tab.title}} <span class="tab-close" *ngIf="tab.isCloseable" (click)="closeTab(tab)">x</span></a>
  </li>
</ul>
<ng-content></ng-content>
<ng-template dynamic-tabs #container></ng-template>