.nav-tabs {
    margin-top: 20px;
}

.nav-item.active {
    border: 1px solid grey;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
}